body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    background-color: red;
    max-width: 800px;
    min-height: 100vh;
    
    
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}